*{
    box-sizing: border-box;
}
html{
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    perspective: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform-style: preserve-3d;
z-index: -9;

}
main{
    position: relative;
    z-index: 999;
    background-color: white;
}

header{
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
}

header, header:before{
    background: 50% 50%;
}

header::before{
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;

    background-image: url("background.png");
    background-position: 50% 50%;
    background-size: cover;


    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -10;
    min-height: 100vh;
}


nav {
    position: fixed;
    top: 0px;
    right: 0px;
}
nav ul {
    display: block;

    width: 300px;
    height: 40px;
    list-style-type: none;
    padding: 0px;
}

nav ul li {
    line-height: 40px;
    text-align: center;
    display: block;
    width: 100px;
    float: left;
}

nav ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}



@media screen and (max-width: 800px) {
    .nav-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        z-index: -1;
        background: white;
        opacity: 0;
        transition: all 1.2s;
    }
    .nav-wrapper ul{
        position: absolute;
        top: 50%;
        width: 100%;
    }
    .nav-wrapper ul li{
        width: 100%;
        display: block;
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li a{
        display: inline-block;
        padding: 10px 10px;
        font-size: 1rem;
        font-weight: 700;
        color: black;
        transition: all 0.2s ease;
        opacity: 0;
        transform: translateX(-20px);
    }

    .nav-wrapper ul li:nth-child(1) a{
        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a{
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(3) a{
        transition-delay: 0.5s;
    }


    .nav-hambut{
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-hambut i {
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        margin-top: 4px;
        border-radius: 2px;
    }

    #nav:checked + .nav-hambut{
        transform: rotate(45deg);
    }

    #nav:checked + .nav-hambut i{
        background-color: black;
        transition: transform 0.2s;
    }

    #nav:checked + .nav-hambut i:nth-child(1) {
        transform: translateY(12px) rotate(180deg);
    }
    #nav:checked + .nav-hambut i:nth-child(2){
        opacity: 0;
    }
    #nav:checked + .nav-hambut i:nth-child(3){
        transform: rotate(90deg);
    }
    #nav:checked ~ .nav-wrapper{
        z-index: 1;
        opacity: 1;
    }
    #nav:checked ~ .nav-wrapper ul li a{
        z-index: 1;
        opacity: 1;
        transform: translateX(0px);
    }
}
.hidden{
    display: none;
}



.circular-image-parent {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.circular-image {
    margin: auto;
    height: 250px;
    width: 250px;
    background-image: url("https://i.imgur.com/8BSXB10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

.information {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 10%;
    border-radius: 10px;
}

.comments {
    width: 50%;
}

.comments .head input, .comments .head textarea {
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #aaa;
    outline: none;
    box-sizing: border-box;
}

.comments .head input:focus, .comments .head textarea:focus {
    border-color: #007a26;
    box-shadow: 0px 0px 10px 0px rgba(0, 122, 38, 0.5);
}

.comments .head textarea {
    width: calc(100% - 10px);
}

.comment-list ul {
    list-style-type: none;
    padding: 0px;
}

.comment-list ul li {
    border-left: 5px solid #adafa5;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}